.avatar {
  height: 100%;
  width: 100%;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
}

button {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  position: absolute;
  z-index: 100;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}
