<div class="container">
  <br />
  <h3>Page d'accueil</h3>
  <br />
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam laboriosam
  placeat distinctio exercitationem voluptatum eum doloribus illo sed. Sequi in
  facere placeat reiciendis minima soluta amet consequuntur at, maxime
  reprehenderit. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  Aperiam laboriosam placeat distinctio exercitationem voluptatum eum doloribus
  illo sed. Sequi in facere placeat reiciendis minima soluta amet consequuntur
  at, maxime reprehenderit.
</div>
